body{
  font-family: 'Raleway', sans-serif;
}
h3{
  color: white;
}
.txt{
  text-align: center;
  color: white;
}
.btt{
  margin-left: 105%;
  margin-top: -15%;
}
.bg{
  background-image: url("../assets/backgrounds/landing.jpg");
  background-attachment: fixed;
  height: 100%;
}
.orange{
  background-color: #F15A29;
  width: 105%;
  margin-left: -4%;
}
.wid{
  width: 40%;
  margin-left: 25%;
}
.bg1{
  background-image: url("../assets/backgrounds/foodsBg.jpg");
  background-attachment: fixed;
  height: 100%;
  margin-left: -1%;
}
.bg2{
  background-image: url("../assets/backgrounds/subscribe.jpg");
  background-attachment: fixed;
  height: 100%;
  margin-left: -1%;
}
.butt{
  padding: 6%;
  width: 110%;
  margin-left: -5%
}
.mm{
  color: black;
}
.logo{
  text-align: center;
}
.bck{
  background-image: url("../assets/foodtop/breakfast.jpg");
}
.bmk{
    background-image: url("../assets/foodtop/lunch.jpg")
}
.bjk{
    background-image: url("../assets/foodtop/dinner.jpg")
}
.link{
  margin: 30%;
}
.logo1{
  margin: 3%;
  z-index: -1000;
  padding:-10%;
}
.text{
  margin-top: -1%;
}
.you{
  height: 20%;
}
.happy{
  background-color: #ccc;
  color: #000;
  padding-left: 10%;
}
.highl{
  font-weight: bold;
}
.mimi{
  width:110%;
}
.nut{
  color: white;

}
.mee{
  margin-left: 2.5%;
}
